.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.custom-calendar {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 800px; /* Set a wider max-width */
  margin: auto;
}

.teams-calendar {
  width: 100%;
  border: none;
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.react-calendar__navigation__label {
  font-weight: bold;
}

.react-calendar__navigation__arrow {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  color: #0977f5; /* Teams blue color */
}

.react-calendar__navigation__arrow:hover {
  color: #1d0ace; /* Darker shade of Teams blue color */
}

.react-calendar__month-view__days__day {
  padding: 8px;
  cursor: pointer;
  font-size: 0.85em;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #868686; /* Color for days from neighboring months */
}

.react-calendar__tile--active {
  background-color: #edf5fc; /* Background color for active day */
}

.react-calendar__tile--hover {
  background-color: #e5f1fd; /* Background color on hover */
}

div .css-l5wks9-MuiPaper-root {
  color: white
}
